body {
  background-image: url("/Users/robertzehnder/wdi/sandbox/outcomesSite/img/gaClass.jpg");
  background-size: cover;
  min-height: 800px;
  font-family: 'Merriweather', serif;
}

#topBar {
  max-width: 99.7%;
  height: 125px;
}

div {
  background-color: rgba(255,255,255,.8);
}

#topBar img {
  max-width: 300px;
  max-height: 300px;
  margin-left: 20px;
  margin-top: -15px;
}

.profileContainer {
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  max-width: 40%;
  /*margin: 0 auto;*/
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  text-align: center;
  max-height: 475px;
}
.profileContainer p {
    margin-top: -5px;
}

.profileContainer img {
  border-radius: 50%;
  border: 3px solid black;
}

.buttons {
  background-color: #fa4542;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 35%;
  min-width: 103px;
  height: 50px;
  font-size: 18px;
}
